[submodule "foundry/services/reel-pipeline/engines/MoneyPrinterTurbo"]
	path = foundry/services/reel-pipeline/engines/MoneyPrinterTurbo
	url = https://github.com/harry0703/MoneyPrinterTurbo.git
[submodule "foundry/services/reel-pipeline/engines/reel-maker"]
	path = foundry/services/reel-pipeline/engines/reel-maker
	url = https://github.com/sarthakagrawal927/reel-maker.git
[submodule "foundry/ops/workflows"]
	path = foundry/ops/workflows
	url = https://github.com/sass-maker/workflows.git
